* {
    font-family: montserrat, Sans-serif;
}

.mt-neg-12 {
    margin-top: -12%;
}

.mt-neg-15 {
    margin-top: -15%;
}

/* BLOCOS */
.background-default {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.background-default.banner1{
    background-image: url("../../assets/preliminar/background-preliminar.webp");
}

span{
    color: rgb(208, 28, 30);
}

.text-red-preliminar-v2 {
    color: rgb(208, 28, 30);
}

.card.mostra-precos {
    border-radius: 1.2rem;
}

#logo{
    max-width: 500px;
    width: 100vw;
    margin: auto;
}

/* TEXTOS */


/* IFRAME */

lite-youtube{
    border:2px solid ;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.08rem 0.6rem #f20505;
}

/* BOTÃO */

.btn-aprender{
    height: 3rem;
    border-radius: 2rem;
    background-color: rgb(208, 28, 30);
}

.btn-aprender:hover{
    transition: 0.2s;
    transform: scale(1.06);
    background-color: #f04444;
    color: white;
    cursor: pointer;
}

.btn-aprender.maior{
    height: 4rem;
}

.show-element {
    display: none;
}

/* RESPONSIVIDADE TEXTO BOTAO */

@media (max-width: 1599px) {
    .btn-aprender.f-size-1-2{
        font-size: 1rem;
    }
}

@media (max-width: 1299px) {
    .btn-aprender.f-size-1-2{
        font-size: 1rem;
    }
    .btn-aprender.f-size-1-5{
        font-size: 1.3rem;
    }
}

@media (max-width: 1114px) {
    .btn-aprender.f-size-1-2{
        font-size: 0.8rem;
    }
    .btn-aprender.f-size-1-5{
        font-size: 1.1rem;
    }
    .btn-aprender.f-size-1-7{
        font-size: 1.4rem;
    }
}

@media (max-width: 765px) {
    .f-size-1-2 {
        font-size: 1rem;
    }
    .f-size-1-3 {
        font-size: 1.1rem;
    }
    .f-size-1-4 {
        font-size: 1rem;
    }
    .f-size-2-2 {
        font-size: 1.8rem;
    }
    .f-size-2-5 {
        font-size: 1.9rem;
    }
    .f-size-6 {
        font-size: 2.5rem;
    }
    .f-size-2-5.responsive-smaller  {
        font-size: 1.4rem;
    }
    .background-default.banner1{
        background-image: none;
        background-color: black;
    }
    .hide-element {
        display: none;
    }
    .show-element {
        display: block;
    }
    .btn-aprender.f-size-1-2{
        font-size: 1.2rem;
    }
    .btn-aprender.f-size-1-5{
        font-size: 1.3rem;
    }
    .book-img-preliminar{
        max-width: 100%;
        width: 100vw;
    }
    .mobile-img-1{
        width: 10rem;
    }
}

@media (max-width: 510px) {
    .btn-aprender.f-size-1-2{
        font-size: 0.8rem;
    }
    .btn-aprender.f-size-1-5{
        font-size: 0.9rem;
    }
    .btn-aprender.f-size-1-7{
        font-size: 1rem;
    }
}