:root {
    --cativar: #bf05f2;
    --libertarBtnInicial: #FF5000;
    --libertarBtnFinal: #f17505;
    --libertar: #ff6400;
    --encantar: #005cff;
    --preliminar:#f20505;
    --despertar: #E7EE00;
    --encantar2: rgb(0, 145, 255);
    --encantarCardIcon: #0040ff;
    --encantarStrong: #0027ff;
    --principium: rgb(255, 0, 0);
    --fortunum: #ffd801;
    --fortunum2: #ffd200;
}


/* DUVIDAS V1 */

.accordion-menu {
	border-radius: 5px;
}

h2.accordion {
	/* line-height: 25px; */
	font-weight: 500;
	letter-spacing: 1px;
	display: block;
	margin: 0;
    margin-left: 3%;
    cursor: pointer;
}

h2.cativar {
    color: var(--cativar);
}

h2.libertar {
    color: var(--libertar);
}

h2.encantar {
    color: var(--encantar2);
}

h2.preliminar {
    color: var(--preliminar);
}

h2.despertar {
    color: var(--despertar);
}

p.accordion {
	line-height: 26px;
	letter-spacing: 1px;
	position: relative;
	overflow: hidden;
	max-height: 800px;
	opacity: 1;
	transform: translate(0, 0);
	margin-top: 14px;
	z-index: 2;
}

ul {
	list-style: none;
	perspective: 900;
	padding: 0 20px 10px;
    margin: 0;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
	border-radius: 5px;
}

ul.cativar {
    border-color: var(--cativar);
}

ul.libertar {
    border-color: var(--libertar);
}

ul.encantar {
    border-color: var(--encantar2);
}

ul.preliminar {
    border-color: var(--preliminar);
}

ul.despertar {
    border-color: var(--despertar);
}

ul li {
	position: relative;
	padding: 0;
	margin: 0;
	padding-bottom: 4px;
	padding-top: 18px;
}

ul li.cativar {
    border-top: 1px solid var(--cativar);
}

ul li.libertar {
    border-top: 1px solid var(--libertar);
}

ul li.encantar {
    border-top: 1px solid var(--encantar2);
}

ul li.preliminar {
    border-top: 1px solid var(--preliminar);
}

ul li.despertar {
    border-top: 1px solid var(--despertar);
}

ul li:nth-child(1){ border:none; }
ul li:last-of-type { padding-bottom: 0; }

ul li .arrow {
	position: absolute;
	transform: translate(-6px, 0);
	margin-top: 4px;
    margin-left: 1%;
}

ul li .arrow:before, ul li .arrow:after {
	content: "";
	position: absolute;
	width: 3px;
	height: 9px;
}

ul li .arrow.cativar:before, ul li .arrow.cativar:after {
    background-color: var(--cativar);
}

ul li .arrow.libertar:before, ul li .arrow.libertar:after {
    background-color: var(--libertar);
}

ul li .arrow.encantar:before, ul li .arrow.encantar:after {
    background-color: var(--encantar2);
}

ul li .arrow.preliminar:before, ul li .arrow.preliminar:after {
    background-color: var(--preliminar);
}

ul li .arrow.despertar:before, ul li .arrow.despertar:after {
    background-color: var(--despertar);
}

ul li .arrow:before {
	transform: translate(-2px, 0) rotate(45deg);
}
ul li .arrow:after {
	transform: translate(2px, 0) rotate(-45deg);
}
ul li input[type=checkbox] {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
    z-index: 1;    
    opacity: 0;
}
ul li input[type=checkbox]:checked ~ p {
	margin-top: 0;
	max-height: 0;
	opacity: 0;
	transform: translate(0, 50%);
}
ul li input[type=checkbox]:checked ~ .arrow:before {
	transform: translate(2px, 0) rotate(45deg);
}
ul li input[type=checkbox]:checked ~ .arrow:after {
	transform: translate(-2px, 0) rotate(-45deg);
}
.no-select, h2 {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	user-select: none;
}

/* DUVIDAS V2 */

ul li .arrow.v2:before, ul li .arrow.v2:after {
    background-color:white;
}

ul li.v2 {
    border-top: unset;
}

ul.no-border {
    border-style: none;
	border-radius: unset;
}

.banner-about-1 {
    background-image: url('../assets/duvidas/banner1.webp');
}

.banner-about-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/duvidas/banner2.webp');
}

.banner-about-red {
    background-color: red;
}

.card.duvidas-v2 {
    background-color: rgba(0, 0, 0, 0.623);
    border-style: solid;
    border-width: 2px;
    border-color: red;
    border-radius: 0.8rem;
}

@media (max-width: 768px){
    .banner-about-2 {
        background-image: none;
        background-color: black;
    }
}