/*! CSS Used from: ../vendor/bootstrap/css/bootstrap.min.css */
:root{--bs-blue:#0d6efd;--bs-indigo:#6610f2;--bs-purple:#6f42c1;--bs-pink:#d63384;--bs-red:#dc3545;--bs-orange:#fd7e14;--bs-yellow:#ffc107;--bs-green:#198754;--bs-teal:#20c997;--bs-cyan:#0dcaf0;--bs-white:#fff;--bs-gray:#6c757d;--bs-gray-dark:#343a40;--bs-primary:#0d6efd;--bs-secondary:#6c757d;--bs-success:#198754;--bs-info:#0dcaf0;--bs-warning:#ffc107;--bs-danger:#dc3545;--bs-light:#f8f9fa;--bs-dark:#212529;--bs-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;--bs-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));}
*,::after,::before{box-sizing:border-box;}
@media (prefers-reduced-motion:no-preference){
:root{scroll-behavior:smooth;}
}
body{margin:0;font-family:var(--bs-font-sans-serif);font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;}
h1{margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2;}
h1{font-size:calc(1.375rem + 1.5vw);}
@media (min-width:1200px){
h1{font-size:2.5rem;}
}
p{margin-top:0;margin-bottom:1rem;}
a{color:#0d6efd;text-decoration:underline;}
a:hover{color:#0a58ca;}
img{vertical-align:middle;}
button{border-radius:0;}
button:focus:not(:focus-visible){outline:0;}
button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{text-transform:none;}
[type=button],button{-webkit-appearance:button;}
::-moz-focus-inner{padding:0;border-style:none;}
.container,.container-fluid{width:100%;padding-right:var(--bs-gutter-x,.75rem);padding-left:var(--bs-gutter-x,.75rem);margin-right:auto;margin-left:auto;}
@media (min-width:576px){
.container{max-width:540px;}
}
@media (min-width:768px){
.container{max-width:720px;}
}
@media (min-width:992px){
.container{max-width:960px;}
}
@media (min-width:1200px){
.container{max-width:1140px;}
}
@media (min-width:1400px){
.container{max-width:1320px;}
}
.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x) * -.5);margin-left:calc(var(--bs-gutter-x) * -.5);}
.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y);}
.col-12{flex:0 0 auto;width:100%;}
@media (min-width:768px){
.col-md-1{flex:0 0 auto;width:8.33333333%;}
.col-md-2{flex:0 0 auto;width:16.66666667%;}
.col-md-5{flex:0 0 auto;width:41.66666667%;}
.col-md-8{flex:0 0 auto;width:66.66666667%;}
}
.form-control{display:block;width:100%;padding:.375rem .75rem;font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.form-control{transition:none;}
}
.form-control:focus{color:#212529;background-color:#fff;border-color:#86b7fe;outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);}
.form-control::-moz-placeholder{color:#6c757d;opacity:1;}
.form-control::placeholder{color:#6c757d;opacity:1;}
.form-control:disabled{background-color:#e9ecef;opacity:1;}
.input-group{position:relative;display:flex;flex-wrap:wrap;align-items:stretch;width:100%;}
.input-group>.form-control{position:relative;flex:1 1 auto;width:1%;min-width:0;}
.input-group>.form-control:focus{z-index:3;}
.btn{display:inline-block;font-weight:400;line-height:1.5;color:#212529;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.btn{transition:none;}
}
.btn:hover{color:#212529;}
.btn:focus{outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);}
.btn:disabled{pointer-events:none;opacity:.65;}
.btn-danger{color:#fff;background-color:#dc3545;border-color:#dc3545;}
.btn-danger:hover{color:#fff;background-color:#bb2d3b;border-color:#b02a37;}
.btn-danger:focus{color:#fff;background-color:#bb2d3b;border-color:#b02a37;box-shadow:0 0 0 .25rem rgba(225,83,97,.5);}
.btn-danger:active{color:#fff;background-color:#b02a37;border-color:#a52834;}
.btn-danger:active:focus{box-shadow:0 0 0 .25rem rgba(225,83,97,.5);}
.btn-danger:disabled{color:#fff;background-color:#dc3545;border-color:#dc3545;}
.card{position:relative;display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid rgba(0,0,0,.125);border-radius:.25rem;}
.card-body{flex:1 1 auto;padding:1rem 1rem;}
.card-img-top{width:100%;}
.card-img-top{border-top-left-radius:calc(.25rem - 1px);border-top-right-radius:calc(.25rem - 1px);}
.h-75{height:75%!important;}
.align-items-end{align-items:flex-end!important;}
.mt-3{margin-top:1rem!important;}
.mt-4{margin-top:1.5rem!important;}
.mb-2{margin-bottom:.5rem!important;}
.pt-5{padding-top:3rem!important;}
.text-center{text-align:center!important;}
.bg-transparent{background-color:transparent!important;}
.rounded-circle{border-radius:50%!important;}
/*! CSS Used from: ../css/general.css */
*{word-wrap:break-word;}
::-webkit-scrollbar{width:0.5rem;}
::-webkit-scrollbar-track{background:#f1f1f1;}
::-webkit-scrollbar-thumb{background:rgb(119, 118, 118);}
::-webkit-scrollbar-thumb:hover{background:#555;}
.h-80{height:80%!important;}
.h-20{height:20%!important;}
/*! CSS Used from: ../css/neon_itens.css */
.neon-red{font-weight:700;text-transform:uppercase;color:red;font-size:56px;text-shadow:0 0 22px rgb(255 0 0 / 98%);}
.neon-white{font-weight:600;letter-spacing:1.8px;color:#fff;text-shadow:0 0 10px #fff;}
.neon-white.saiba-mais{text-transform:uppercase;font-size:48px;}
.neon-white.footer-home{text-transform:uppercase;font-size:28px;}
.neon-white.icon-home{font-size:56px;}
.neon-white.icon-home:hover{transition:0.3s;color:#fff;font-size:58px;text-shadow:0 0 22px rgba(255, 255, 255, 0.609);}
@media (max-width: 768px){
.neon-red{font-size:44px;}
.neon-white{font-size:15px;}
.neon-white.saiba-mais{font-size:35px;}
.neon-white.footer-home{font-size:22px;}
.neon-white.icon-home{font-size:46px;}
.neon-white.icon-home:hover{font-size:48px;}
}
@media (max-width: 375px){
.neon-red{font-size:40px;}
.neon-white{font-size:11px;}
.neon-white.saiba-mais{font-size:31px;}
.neon-white.footer-home{font-size:18px;}
.neon-white.icon-home{font-size:42px;}
.neon-white.icon-home:hover{font-size:44px;}
}
@media (max-width: 280px){
.neon-red{font-size:36px;}
.neon-white{font-size:11px;}
.neon-white.saiba-mais{font-size:27px;}
.neon-white.footer-home{font-size:18px;}
.neon-white.icon-home{font-size:38px;}
.neon-white.icon-home:hover{font-size:40px;}
}
/*! CSS Used from: ../css/duvidas.css */
:root{--cativar:#bf05f2;--libertarBtnInicial:#FF5000;--libertarBtnFinal:#f17505;--libertar:#ff6400;--encantar:#005cff;--preliminar:#f20505;--despertar:#E7EE00;--encantar2:rgb(0, 145, 255);--encantarCardIcon:#0040ff;--encantarStrong:#0027ff;--principium:rgb(255, 0, 0);--fortunum:#ffd801;--fortunum2:#ffd200;}
/*! CSS Used from: ../vendor/fontawesome/css/SiteUsage.css */
.fa-solid{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:var(--fa-display, inline-block);font-style:normal;font-variant:normal;line-height:1;text-rendering:auto;}
.fa-angles-down::before{content:"\f103";}
:root{--fa-font-solid:normal 900 1em/1 "Font Awesome 6 Free";}
.fa-solid{font-family:'Font Awesome 6 Free';font-weight:900;}
/*! CSS Used from: ../css/home_style.css */
*{font-family:montserrat, Sans-serif;}
body{background-image:url('../assets/FOTO2.webp');background-image:linear-gradient(rgba(253, 232, 232, 0.164), rgba(253, 232, 232, 0.164)), url('../assets/FOTO2.webp');background-repeat:no-repeat;background-position:0 0;background-size:cover;height:100%;}
.masthead{height:80vh;min-height:500px;background-image:linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61)), url("../assets/teste.webp");background-size:cover;background-repeat:no-repeat;background-position:center;}
.rounded-circle{width:202px;height:202px;border-radius:151px 151px 151px 151px;box-shadow:7px 12px 18px 0px rgba(0, 0, 0, 0.85);}
.card{border-radius:14px;border-style:none;}
.card-img-top{border-radius:12px;box-shadow:0.2em 0.1em 0.5em 0.2em rgb(0, 0, 0);}
/*! CSS Used fontfaces */
@font-face{font-family:'Font Awesome 6 Free';font-style:normal;font-weight:900;font-display:block;src:url("../vendor/fontawesome/webfonts/fa-solid-900.woff2") format("woff2"), url("../vendor/fontawesome/webfonts/fa-solid-900.ttf") format("truetype");}
@font-face{font-family:montserrat;src:url('../fonts/montserrat/Montserrat-Light.ttf');font-weight:300;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../fonts/montserrat/Montserrat-Regular.ttf');font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../fonts/montserrat/Montserrat-Medium.ttf');font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../fonts/montserrat/Montserrat-SemiBold.ttf');font-weight:600;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../fonts/montserrat/Montserrat-Bold.ttf');font-weight:700;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../fonts/montserrat/Montserrat-ExtraBold.ttf');font-weight:800;font-style:normal;font-display:swap;}