.neon-red {
    font-weight: 700;
    text-transform: uppercase;
    /* letter-spacing: 0.1rem; */
    color: red;
    font-size: 56px;
    text-shadow: 0 0 22px rgb(255 0 0 / 98%);
}

.neon-white {
    font-weight: 600;
    letter-spacing: 1.8px;
    color: #fff;
    text-shadow: 0 0 10px #fff;
}

.neon-white.saiba-mais {
    text-transform: uppercase;
    font-size: 48px;
}

.neon-white.shadow-yellow {
    font-size: 4.5rem;
    font-weight: 800;
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #E7EE00, 0 0 1px #E7EE00, 0 0 15px #E7EE00, 0 0 30px #E7EE00, 0 0 40px #E7EE00;
    letter-spacing: 0;
}
.neon-white.shadow-black {
    font-size: 4rem;
    font-weight: 800;
    text-shadow: 0 0 1px #fff, 0 0 0.5px #fff, 0 0 0.5px #000000b0, 0 0 0.5px #000000b0, 0 0 7.5px #000000b0, 0 0 15px #000000b0, 0 0 20px #000000b0;
    letter-spacing: 0;
}

.neon-white.shadow-red {
    font-size: 4.5rem;
    font-weight: 800;
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #f20505, 0 0 1px #f20505, 0 0 15px #f20505, 0 0 30px #f20505, 0 0 40px #f20505;
    letter-spacing: 0;
}

.neon-white.shadow-pink {
    font-size: 4.5rem;
    font-weight: 800;
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #bf05f2, 0 0 1px #bf05f2, 0 0 15px #bf05f2, 0 0 30px #bf05f2, 0 0 40px #bf05f2;
    letter-spacing: 0;
}

.neon-white.footer-home {
    text-transform: uppercase;
    font-size: 28px;
}

.neon-white.icon-home {
    font-size: 56px;
}

.neon-white.icon-home:hover {
    transition: 0.3s;
    color: #fff;
    font-size: 58px;
    text-shadow: 0 0 22px rgba(255, 255, 255, 0.609);
}


/* RESPONSIVIDADE */

@media (max-width: 1500px) {
    .neon-white.shadow-black {
        font-size: 3.7rem;
    }
}

@media (max-width: 1290px) {
    .neon-white.shadow-black {
        font-size: 3.5rem;
    }
}

@media (max-width: 1140px) {
    .neon-white.shadow-black {
        font-size: 3rem;
    }
}


@media (max-width: 1010px) {
    .neon-white.shadow-black {
        font-size: 2.5rem;
    }
}

@media (max-width: 870px) {
    .neon-white.shadow-black {
        font-size: 2rem;
    }
}

@media (max-width: 768px){
    .neon-red {
        font-size: 44px;
    }
    
    .neon-white {
        font-size: 15px;
    }
    
    .neon-white.saiba-mais {
        font-size: 35px;
    }
    
    .neon-white.footer-home {
        font-size: 22px;
    }
    
    .neon-white.icon-home {
        font-size: 46px;
    }
    
    .neon-white.icon-home:hover {
        font-size: 48px;
    }

    .neon-white.shadow-black {
        font-size: 2.5rem;
    }
}

@media (max-width: 375px){ 
    .neon-red {
        font-size: 40px;
    }
    
    .neon-white {
        font-size: 11px;
    }
    
    .neon-white.saiba-mais {
        font-size: 31px;
    }
    
    .neon-white.footer-home {
        font-size: 18px;
    }
    
    .neon-white.icon-home {
        font-size: 42px;
    }
    
    .neon-white.icon-home:hover {
        font-size: 44px;
    }

    .neon-white.shadow-black {
        font-size: 1.7rem;
    }
}

@media(max-width: 280px){
    .neon-red {
        font-size: 36px;
    }
    
    .neon-white {
        font-size: 11px;
    }
    
    .neon-white.saiba-mais {
        font-size: 27px;
    }
    
    .neon-white.footer-home {
        font-size: 18px;
    }
    
    .neon-white.icon-home {
        font-size: 38px;
    }
    
    .neon-white.icon-home:hover {
        font-size: 40px;
    }

    
    .neon-white.shadow-black {
        font-size: 1rem;
    }
}
