/*! CSS Used from: ../../vendor/bootstrap/css/bootstrap.min.css */
:root{--bs-blue:#0d6efd;--bs-indigo:#6610f2;--bs-purple:#6f42c1;--bs-pink:#d63384;--bs-red:#dc3545;--bs-orange:#fd7e14;--bs-yellow:#ffc107;--bs-green:#198754;--bs-teal:#20c997;--bs-cyan:#0dcaf0;--bs-white:#fff;--bs-gray:#6c757d;--bs-gray-dark:#343a40;--bs-primary:#0d6efd;--bs-secondary:#6c757d;--bs-success:#198754;--bs-info:#0dcaf0;--bs-warning:#ffc107;--bs-danger:#dc3545;--bs-light:#f8f9fa;--bs-dark:#212529;--bs-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;--bs-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));}
*,::after,::before{box-sizing:border-box;}
@media (prefers-reduced-motion:no-preference){
:root{scroll-behavior:smooth;}
}
body{margin:0;font-family:var(--bs-font-sans-serif);font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;}
h1,h2{margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2;}
h1{font-size:calc(1.375rem + 1.5vw);}
@media (min-width:1200px){
h1{font-size:2.5rem;}
}
h2{font-size:calc(1.325rem + .9vw);}
@media (min-width:1200px){
h2{font-size:2rem;}
}
p{margin-top:0;margin-bottom:1rem;}
ul{padding-left:2rem;}
ul{margin-top:0;margin-bottom:1rem;}
a{color:#0d6efd;text-decoration:underline;}
a:hover{color:#0a58ca;}
img{vertical-align:middle;}
button{border-radius:0;}
button:focus:not(:focus-visible){outline:0;}
button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{text-transform:none;}
button{-webkit-appearance:button;}
::-moz-focus-inner{padding:0;border-style:none;}
.container-fluid{width:100%;padding-right:var(--bs-gutter-x,.75rem);padding-left:var(--bs-gutter-x,.75rem);margin-right:auto;margin-left:auto;}
.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x) * -.5);margin-left:calc(var(--bs-gutter-x) * -.5);}
.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y);}
.col-10{flex:0 0 auto;width:83.33333333%;}
.col-12{flex:0 0 auto;width:100%;}
@media (min-width:768px){
.col-md-1{flex:0 0 auto;width:8.33333333%;}
.col-md-2{flex:0 0 auto;width:16.66666667%;}
.col-md-3{flex:0 0 auto;width:25%;}
.col-md-4{flex:0 0 auto;width:33.33333333%;}
.col-md-5{flex:0 0 auto;width:41.66666667%;}
.col-md-6{flex:0 0 auto;width:50%;}
.col-md-8{flex:0 0 auto;width:66.66666667%;}
.col-md-10{flex:0 0 auto;width:83.33333333%;}
.col-md-12{flex:0 0 auto;width:100%;}
}
.btn{display:inline-block;font-weight:400;line-height:1.5;color:#212529;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.btn{transition:none;}
}
.btn:hover{color:#212529;}
.btn:focus{outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);}
.btn:disabled{pointer-events:none;opacity:.65;}
.btn-lg{padding:.5rem 1rem;font-size:1.25rem;border-radius:.3rem;}
.card{position:relative;display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid rgba(0,0,0,.125);border-radius:.25rem;}
.card-body{flex:1 1 auto;padding:1rem 1rem;}
.card-img,.card-img-top{width:100%;}
.card-img,.card-img-top{border-top-left-radius:calc(.25rem - 1px);border-top-right-radius:calc(.25rem - 1px);}
.card-img{border-bottom-right-radius:calc(.25rem - 1px);border-bottom-left-radius:calc(.25rem - 1px);}
.ratio{position:relative;width:100%;}
.ratio::before{display:block;padding-top:var(--bs-aspect-ratio);content:"";}
.ratio>*{position:absolute;top:0;left:0;width:100%;height:100%;}
.ratio-16x9{--bs-aspect-ratio:calc(9 / 16 * 100%);}
.position-relative{position:relative!important;}
.h-100{height:100%!important;}
.mt-1{margin-top:.25rem!important;}
.mt-2{margin-top:.5rem!important;}
.mt-3{margin-top:1rem!important;}
.mt-4{margin-top:1.5rem!important;}
.mt-5{margin-top:3rem!important;}
.mt-9{margin-top:5rem!important;}
.p-4{padding:1.5rem!important;}
.pt-5{padding-top:3rem!important;}
.lh-1{line-height:1!important;}
.text-center{text-align:center!important;}
.text-muted{color:#6c757d!important;}
.bg-light{background-color:#f8f9fa!important;}
.bg-transparent{background-color:transparent!important;}
.rounded-circle{border-radius:50%!important;}
@media (min-width:992px){
.text-lg-start{text-align:left!important;}
}
/*! CSS Used from: ../../vendor/lite-youtube-embed/lite-yt-embed.css */
lite-youtube{background-color:#000;position:relative;display:block;contain:content;background-position:center center;background-size:cover;cursor:pointer;max-width:720px;}
lite-youtube::before{content:'';display:block;position:absolute;top:0;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);background-position:top;background-repeat:repeat-x;height:60px;padding-bottom:50px;width:100%;transition:all 0.2s cubic-bezier(0, 0, 0.2, 1);}
lite-youtube::after{content:"";display:block;padding-bottom:calc(100% / (16 / 9));}
lite-youtube > .lty-playbtn{width:68px;height:48px;position:absolute;cursor:pointer;transform:translate3d(-50%, -50%, 0);top:50%;left:50%;z-index:1;background-color:transparent;background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 68 48"><path fill="%23f00" fill-opacity="0.8" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path d="M 45,24 27,14 27,34" fill="%23fff"></path></svg>');filter:grayscale(100%);transition:filter .1s cubic-bezier(0, 0, 0.2, 1);border:none;}
lite-youtube:hover > .lty-playbtn,lite-youtube .lty-playbtn:focus{filter:none;}
.lyt-visually-hidden{clip:rect(0 0 0 0);clip-path:inset(50%);height:1px;overflow:hidden;position:absolute;white-space:nowrap;width:1px;}
/*! CSS Used from: ../../css/general.css */
*{word-wrap:break-word;}
::-webkit-scrollbar{width:0.5rem;}
::-webkit-scrollbar-track{background:#f1f1f1;}
::-webkit-scrollbar-thumb{background:rgb(119, 118, 118);}
::-webkit-scrollbar-thumb:hover{background:#555;}
.mt-7{margin-top:4.5rem!important;}
.mt-8{margin-top:5rem!important;}
.mt-10{margin-top:6rem!important;}
.mt-12{margin-top:7rem!important;}
.mt-14{margin-top:8rem!important;}
.mt-17{margin-top:9.5rem!important;}
.lh-1{line-height:1em;}
.f-size-0-8{font-size:0.8em;}
.f-size-1{font-size:1em;}
.f-size-1-1{font-size:1.1em;}
.f-size-1-2{font-size:1.2em;}
.f-size-1-4{font-size:1.4em;}
.f-size-1-7{font-size:1.7em;}
.f-size-1-9{font-size:1.9em;}
.f-size-2{font-size:2em;}
.f-size-2-2{font-size:2.2em;}
.f-size-2-3{font-size:2.3em;}
.f-size-2-5{font-size:2.5em;}
.text-weight-bold{font-weight:600;}
.text-weight-bolder{font-weight:700;}
.text-weight-light{font-weight:400;}
.text-black{color:black;}
.text-red{color:#f20505!important;}
.text-color-white{color:white;}
.vermelho-principium{color:var(--principium);}
.neon-behavior-white-light{text-shadow:0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;}
.neon-behavior-white-medium{text-shadow:0 0 1.5px white, 0 0 1.5px white, 0 0 1.5px white, 0 0 1.5px white, 0 0 1.5px white;}
.neon-behavior-white-intense{text-shadow:0 0 0.2px rgba(255, 255, 255, 0.5), 0 0 0.2px rgba(255, 255, 255, 0.5), 0 0 0.2px rgba(255, 255, 255, 0.5), 0 0 2px rgba(255, 255, 255, 0.5), 0 0 12px rgba(255, 255, 255, 0.5);}
.neon-behavior-red-intense{text-shadow:0 0 0.5px var(--principium), 0 0 0.5px var(--principium), 0 0 2px var(--principium), 0 0 30px var(--principium), 0 0 100px var(--principium);}
.no-shadow{text-shadow:none!important;}
.letter-space-1-5{letter-spacing:1.5px;}
.letter-space-0-8{letter-spacing:0.8px;}
.transform-upper{text-transform:uppercase;}
.border-principium{border-radius:0.5rem;border-color:var(--principium);box-shadow:0.1rem 0.05rem 0.4rem var(--principium);}
.btn-large{height:4rem;}
#divClassButtonInitial{text-align:left!important;}
@media (max-width: 765px){
#divClassButtonInitial{text-align:center!important;}
.reverse{display:flex;flex-flow:column-reverse;}
.selo-garantia-img{width:55%;height:100%;}
}
/*! CSS Used from: ../../css/neon_itens.css */
.neon-white{font-weight:600;letter-spacing:1.8px;color:#fff;text-shadow:0 0 10px #fff;}
@media (max-width: 768px){
.neon-white{font-size:15px;}
}
@media (max-width: 375px){
.neon-white{font-size:11px;}
}
@media (max-width: 280px){
.neon-white{font-size:11px;}
}
/*! CSS Used from: ../../css/duvidas.css */
:root{--cativar:#bf05f2;--libertarBtnInicial:#FF5000;--libertarBtnFinal:#f17505;--libertar:#ff6400;--encantar:#005cff;--preliminar:#f20505;--despertar:#E7EE00;--encantar2:rgb(0, 145, 255);--encantarCardIcon:#0040ff;--encantarStrong:#0027ff;--principium:rgb(255, 0, 0);--fortunum:#ffd801;--fortunum2:#ffd200;}
.accordion-menu{border-radius:5px;}
h2.accordion{font-weight:500;letter-spacing:1px;display:block;margin:0;margin-left:3%;cursor:pointer;}
p.accordion{line-height:26px;letter-spacing:1px;position:relative;overflow:hidden;max-height:800px;opacity:1;transform:translate(0, 0);margin-top:14px;z-index:2;}
ul{list-style:none;perspective:900;padding:0 20px 10px;margin:0;background-color:transparent;border-style:solid;border-width:2px;border-radius:5px;}
ul li{position:relative;padding:0;margin:0;padding-bottom:4px;padding-top:18px;}
ul li:nth-child(1){border:none;}
ul li:last-of-type{padding-bottom:0;}
ul li .arrow{position:absolute;transform:translate(-6px, 0);margin-top:4px;margin-left:1%;}
ul li .arrow:before,ul li .arrow:after{content:"";position:absolute;width:3px;height:9px;}
ul li .arrow:before{transform:translate(-2px, 0) rotate(45deg);}
ul li .arrow:after{transform:translate(2px, 0) rotate(-45deg);}
ul li input[type=checkbox]{position:absolute;cursor:pointer;width:100%;height:100%;z-index:1;opacity:0;}
ul li input[type=checkbox]:checked ~ p{margin-top:0;max-height:0;opacity:0;transform:translate(0, 50%);}
ul li input[type=checkbox]:checked ~ .arrow:before{transform:translate(2px, 0) rotate(45deg);}
ul li input[type=checkbox]:checked ~ .arrow:after{transform:translate(-2px, 0) rotate(-45deg);}
h2{-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;user-select:none;}
ul li .arrow.v2:before,ul li .arrow.v2:after{background-color:white;}
ul.no-border{border-style:none;border-radius:unset;}
.banner-about-1{background-image:url('../../assets/duvidas/banner1.webp');}
.banner-about-2{background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/duvidas/banner2.webp');}
.banner-about-red{background-color:red;}
.card.duvidas-v2{background-color:rgba(0, 0, 0, 0.623);border-style:solid;border-width:2px;border-color:red;border-radius:0.8rem;}
@media (max-width: 768px){
.banner-about-2{background-image:none;background-color:black;}
}
/*! CSS Used from: ../../css/sussurro/sussurro_style.css */
*{font-family:montserrat, Sans-serif;}
.mt-neg-10{margin-top:-10%;}
.mt-neg-18{margin-top:-18%;}
.background-default{background-repeat:no-repeat;background-position:0 0;background-size:cover;}
.background-default.banner1{background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/principium/banner1.webp');}
.background-default.banner2{background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/sussurro/banner-2.webp');}
.background-default.banner3{background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/principium/banner3.webp');}
.background-default.banner4{background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/principium/banner4.webp');}
.background-default.banner5{background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/sussurro/banner-3.webp');}
.btn-principium{border-radius:3rem;background-color:var(--principium);box-shadow:0.1rem 0.05rem 1rem var(--principium);}
.btn-principium:hover{transition:0.2s;transform:scale(1.12);color:white;cursor:pointer;background-color:rgb(240, 58, 58);}
lite-youtube{border:2px solid var(--principium);border-radius:0.1rem;box-shadow:0.1rem 0.05rem 0.4rem var(--principium);}
.img-card{position:absolute;top:0;left:50%;transform:translate(-50%, -50%);}
.img-card.size-1{height:6rem;width:6rem;}
.img-card.size-2{top:-8%;height:7.5rem;width:7.5rem;}
.card-img-top.overflow{position:absolute;height:41rem;width:57rem;margin-top:12%;left:29%;transform:translate(-50%, -50%);}
.card-img-duvida.overflow{position:absolute;height:45rem;width:50rem;margin-top:16%;left:70%;transform:translate(-50%, -50%);}
#img-overflow{position:absolute;height:41rem;width:40rem;left:65%;}
.show-element{display:none;}
@media (min-width: 2799px){
.card-img-duvida.overflow{margin-top:10%;left:60%;}
.card-img-top.overflow{margin-top:7%;left:26%;}
}
@media (max-width: 1600px){
.card-img-top.overflow{margin-top:15%;left:31%;}
.card-img-duvida.overflow{margin-top:18%;left:68%;}
#img-overflow{left:67%;}
}
@media (max-width: 1202px){
.card-img-top.overflow{margin-top:25%;left:31%;}
.card-img-duvida.overflow{height:30rem;width:34rem;margin-top:26.5%;left:68%;}
}
@media (max-width: 1069px){
.btn-principium.f-size-1-7{font-size:1.3rem;}
}
@media (max-width: 900px){
.card-img-top.overflow{height:36rem;width:50rem;margin-top:32%;left:27%;}
.card-img-duvida.overflow{height:34rem;width:38rem;margin-top:34.5%;left:64%;}
#img-overflow{height:36rem;width:33rem;left:63%;}
}
@media (max-width: 768px){
.background-default.banner3{background-image:none;background-color:black;}
.background-default.banner4{background-image:none;background-color:black;}
.background-default.banner5{background-image:none;background-color:black;}
.title{margin-top:-10%!important;}
.card-img-top.overflow{position:absolute;height:18rem;max-width:100%;width:100%;margin-top:18%;left:50%;right:50%;transform:translate(-50%, -50%);}
.card-img-duvida.overflow{position:absolute;height:24rem;max-width:100%;width:100%;margin-top:7%;left:50%;right:50%;transform:translate(-50%, -50%);}
#img-overflow{position:absolute;height:25rem;max-width:100%;width:100%;margin-top:18%;left:50%;right:50%;transform:translate(-50%, -50%);}
.hide-element{display:none;}
.show-element{display:block;}
.f-size-1-1{font-size:0.8rem;}
.f-size-1-2{font-size:1rem;}
.f-size-1-4{font-size:0.9rem;}
.f-size-1-7{font-size:1.2rem;}
.f-size-1-9{font-size:1.4rem;}
.f-size-2{font-size:1.2rem;}
.f-size-2-2{font-size:1.4rem;}
.f-size-2-3{font-size:1.55rem;}
.f-size-2-5{font-size:1.4rem;}
}
@media (max-width: 424px){
.btn-principium.f-size-1-7{font-size:1.1rem;}
}
/*! CSS Used fontfaces */
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Light.ttf');font-weight:300;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Regular.ttf');font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Medium.ttf');font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-SemiBold.ttf');font-weight:600;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Bold.ttf');font-weight:700;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-ExtraBold.ttf');font-weight:800;font-style:normal;font-display:swap;}