* {
    font-family: montserrat, Sans-serif;
}

.mt-neg-10 {
    margin-top: -10%;
}

.mt-neg-18 {
    margin-top: -18%;
}

/* BLOCOS */

.background-default {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.background-default.banner1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/principium/banner1.webp');
}

.background-default.banner2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/sussurro/banner-2.webp');
}

.background-default.banner3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/principium/banner3.webp');
}

.background-default.banner4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/principium/banner4.webp');
}

.background-default.banner5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/sussurro/banner-3.webp');
}

/* BOTOES */

.btn-principium {
    border-radius: 3rem;
    background-color: var(--principium);
    box-shadow: 0.1rem 0.05rem 1rem var(--principium);
}

.btn-principium:hover {
    transition: 0.2s;
    transform: scale(1.12);
    color: white;
    cursor: pointer;
    background-color: rgb(240, 58, 58);
}

/* IFRAME */

lite-youtube{
    border: 2px solid var(--principium);
    border-radius: 0.1rem;
    box-shadow: 0.1rem 0.05rem 0.4rem var(--principium);
}

/* CARD ICON */

.img-card {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-card.size-1 {
    height: 6rem;
    width: 6rem;
}

.img-card.size-2 {
    top: -8%;
    height: 7.5rem;
    width: 7.5rem;
}

/* IMAGES */

.card-img-top.overflow {
    position: absolute;
    height: 41rem;
    width: 57rem;
    margin-top: 12%;
    left: 29%;
    transform: translate(-50%, -50%);
}

.card-img-duvida.overflow {
    position: absolute;
    height: 45rem;
    width: 50rem;
    margin-top: 16%;
    left: 70%;
    transform: translate(-50%, -50%);
}

#img-overflow{
    position: absolute;
    height: 41rem;
    width: 40rem;
    left: 65%;
}

.show-element {
    display: none;
}

/* RESPONSIVIDADE */

@media (min-width: 2799px){
    .card-img-duvida.overflow {
        margin-top: 10%;
        left: 60%;
    }
    .card-img-top.overflow {
        margin-top: 7%;
        left: 26%;
    }
}

@media (max-width: 1600px){
    .card-img-top.overflow {
        margin-top: 15%;
        left: 31%;
    }
    .card-img-duvida.overflow {
        margin-top: 18%;
        left: 68%;
    }
    #img-overflow{
        left: 67%;
    }
}

@media (max-width: 1202px){
    .card-img-top.overflow {
        margin-top: 25%;
        left:31%;
    }
    .card-img-duvida.overflow {
        height: 30rem;
        width: 34rem;
        margin-top: 26.5%;
        left: 68%;
    }
}

@media (max-width: 1069px) {
    .btn-principium.f-size-1-7 {
        font-size: 1.3rem;
    }
}

@media (max-width: 900px){
    .card-img-top.overflow {
        height: 36rem;
        width: 50rem;
        margin-top: 32%;
        left: 27%;
    }
    .card-img-duvida.overflow {
        height: 34rem;
        width: 38rem;
        margin-top: 34.5%;
        left: 64%;
    }
    #img-overflow{
        height: 36rem;
        width: 33rem;
        left: 63%;
    }
}

@media (max-width: 768px){
    .background-default.banner3 {
        background-image: none;
        background-color: black;
    }
    
    .background-default.banner4 {
        background-image: none;
        background-color: black;
    }
    
    .background-default.banner5 {
        background-image: none;
        background-color: black;
    }
    .title {
        margin-top: -10% !important;
    }
    .card-img-top.overflow {
        position: absolute;
        height: 18rem;
        max-width: 100%;
        width: 100%;
        margin-top: 18%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
    }
    .card-img-duvida.overflow {
        position: absolute;
        height: 23rem;
        max-width: 100%;
        width: 100%;
        margin-top: 20%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
    }
    #img-overflow{
        position: absolute;
        height: 22rem;
        max-width: 100%;
        width: 100%;
        margin-top: 14%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
    }
    .hide-element {
        display: none;
    }
    .show-element {
        display: block;
    }
    .f-size-1-1 {
        font-size: 0.8rem;
    }
    .f-size-1-2 {
        font-size: 0.9rem;
    }
    .f-size-1-4 {
        font-size: 0.9rem;
    }
    .f-size-1-7 {
        font-size: 1.2rem;
    }
    .f-size-1-9 {
        font-size: 1.5rem;
    }
    .f-size-2 {
        font-size: 1.2rem;
    }
    .f-size-2-2 {
        font-size: 1.4rem;
    }
    .f-size-2-3 {
        font-size: 1.55rem;
    }
    .f-size-2-5 {
        font-size: 1.4rem;
    }
}

@media (max-width: 424px) {
    .btn-principium.f-size-1-7 {
        font-size: 1.1rem;
    }
}
