* {
    font-family: montserrat;
    font-display: swap;
}

/* BLOCOS */

.background-default {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.background-default.banner1 {
    background-image: url('../../assets/fortunum/banner1.webp');
}

.btn-participar{
    border-radius: 0.2rem;
    background-color: var(--fortunum2);
}

/* IFRAME */

lite-youtube{
    border: 1px solid var(--fortunum);
    border-radius: 0.2rem;
    box-shadow: 0.1rem 0.05rem 0.2rem var(--fortunum);
}

/* IMAGESS */

.logo {
    transform: scale(1.3);
}

.section-header-img {
    transform: scale(1.2);
}

/* RESPONSIVIDADE */

@media (max-width: 1662px) {
    .f-size-1-6 {
        font-size: 1.4em;
    }
}

@media (max-width: 1462px) {
    .f-size-1-6 {
        font-size: 1.2em;
    }
    .f-size-1-1 {
        font-size: 1em;
    }
}

@media (max-width: 1266px) {
    .f-size-1-9 {
        font-size: 1.6em;
    }
    .f-size-1-6 {
        font-size: 1em;
    }
    .f-size-1-1 {
        font-size: 0.9em;
    }
}

@media (max-width: 1070px) {
    .f-size-1-9 {
        font-size: 1.3em;
    }
    .f-size-1-6 {
        font-size: 0.8em;
    }
    .f-size-1-1 {
        font-size: 0.8em;
    }
    .amarelo-fortunum.f-size-0-8 {
        font-size: 0.6em;
    }
}

@media (max-width: 926px) {
    .f-size-1-1 {
        font-size: 0.6em;
    }
    .amarelo-fortunum.f-size-0-8 {
        font-size: 0.5em;
    }
}


@media (max-width: 765px) {
    .mt-4.divimg {
        margin-top: -14% !important;
    }
    .mt-10.divimg {
        margin-top: 2% !important;
    }
    .logo {
        transform: unset;
    }
    .hide-element {
        display: none;
    }
    .section-header-img {
        transform: unset;
    }
    .background-default.banner1 {
        background-image: url('../../assets/fortunum/banner1.webp');
        background-position: center;
    }
    .f-size-1-9 {
        font-size: 1.1em;
    }
    .f-size-1-1 {
        font-size: 0.7em;
    }
    .amarelo-fortunum.f-size-0-8 {
        font-size: 0.8em;
    }
}