* {
    font-family: montserrat, Sans-serif;
}

.mt-neg-12 {
    margin-top: -12%;
}

.mt-neg-15 {
    margin-top: -15%;
}

.mt-neg-20 {
    margin-top: -20%;
}

.mt-neg-50 {
    margin-top: -50%;
}

.mt-neg-42 {
    margin-top: -42%;
}

/* BLOCOS */

.background-default {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.background-default.banner1 {
    background-image: url('../../assets/cativar/banner1.webp');
}

.background-default.banner2 {
    background-image: url('../../assets/cativar/banner2.webp');
}

.background-default.banner3 {
    background-position: -290px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../../assets/cativar/banner3.webp');
}

span{
    font-weight: 800;
    color: #bf05f2;
}

span.destaque {
    font-size: 40px;
}

.card.mostra-precos {
    border-radius: 1.2rem;
}

/* BOTÃO */

.btn-aprender{
    height: 3rem;
    border-radius: 2rem;
    background-color: #bf05f2;
}

.btn-aprender:hover{
    transition: 0.2s;
    transform: scale(1.06);
    background-color: #cb65e7;
    color: white;
    cursor: pointer;
}

.btn-aprender.maior{
    border-radius: 3rem;
    height: 5rem;
}   

.show-element {
    display: none;
}

/* IFRAME */

lite-youtube{
    border:2px solid #bf05f2;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.05rem 0.4rem #bf05f2;
}

/* RESPONSIVIDADE TEXTO BOTAO */

@media (max-width: 1603px) {
    .btn-aprender.f-size-1-4{
        font-size: 1.1rem;
    }
}

@media (max-width: 1450px) {
    .btn-aprender.f-size-1-2{
        font-size: 1.3rem;
    }
}

@media (max-width: 1331px) {
    .btn-aprender.f-size-1-4{
        font-size: 1rem;
    }
}


@media (max-width: 1299px) {
    .btn-aprender.f-size-1-2{
        font-size: 1rem;
    }
    .btn-aprender.f-size-1-5{
        font-size: 1.3rem;
    }
    .btn-aprender.f-size-1-6{
        font-size: 1.4rem;
    }
}

@media (max-width: 1240px) {
    .btn-aprender.f-size-1-4{
        font-size: 0.8rem;
    }
}

@media (max-width: 1114px) {
    .btn-aprender.f-size-1-2{
        font-size: 0.8rem;
    }
    .btn-aprender.f-size-1-5{
        font-size: 1.1rem;
    }
    .btn-aprender.f-size-1-6{
        font-size: 1.2rem;
    }
}

@media (max-width: 919px) {
    .background-default.banner3 {
        background-image: none;
        background-color: black;
    }
}

@media (max-width: 1040px) {
    .btn-aprender.f-size-1-6{
        font-size: 1.1rem;
    }
}

@media (max-width: 765px) {
    .background-default.banner1{
        background-image: none;
        background-color: black;
    }
    .background-default.banner2{
        background-image: none;
        background-color: black;
    }
    .background-default.banner3{
        background-image: none;
        background-color: black;
    }
    .hide-element {
        display: none;
    }
    .show-element {
        display: block;
    }
    .remove-lh {
        line-height: 0.7rem;
    }
    .f-size-2-3 {
        font-size: 2rem;
    }
    .f-size-1-2 {
        font-size: 1rem;
    }
    .f-size-1-3 {
        font-size: 1.2rem;
    }
    .f-size-1-3.size1 {
        font-size: 1rem;
    }
    .f-size-1-4 {
        font-size: 1.2rem;
    }
    .f-size-1-6 {
        font-size: 1.4rem;
    }
    .f-size-2-2 {
        font-size: 1.9rem;
    }
    .f-size-2-5 {
        font-size: 1.55rem;
    }
    .f-size-4 {
        font-size: 1.5rem;
    }
    .f-size-6 {
        font-size: 2.4rem;
    }
    span.destaque {
        font-size: 30px;
    }
    .btn-aprender.f-size-1-2{
        font-size: 1.2rem;
    }
    .btn-aprender.f-size-1-4{
        font-size: 1.4rem;
    }
    .btn-aprender.f-size-1-5{
        font-size: 1.3rem;
    }
    .btn-aprender.f-size-1-6{
        font-size: 1.6rem;
    }
    .mobile-img-1{
        width: 10rem;
    }
}

@media (max-width: 548px) {
    .btn-aprender.f-size-1-4{
        font-size: 0.9rem;
    }
}

@media (max-width: 510px) {
    .btn-aprender.f-size-1-2{
        font-size: 0.8rem;
    }
    .btn-aprender.f-size-1-5{
        font-size: 0.9rem;
    }
    .btn-aprender.f-size-1-6{
        font-size: 1.1rem;
    }
    .btn-aprender{
        width: 20rem;
    }
}

@media (max-width: 388px) {
    .btn-aprender{
        width: 14rem;
    }
    .btn-aprender.f-size-1-4{
        font-size: 0.7rem;
    }
}

@media (max-width: 363px) {
    .titleCativar {
        font-size: 3.6rem !important;
    }
}

@media (max-width: 300px) {
    .titleCativar {
        font-size: 3rem !important;
    }
}

@media (max-width: 250px) {
    .titleCativar {
        font-size: 2.5rem !important;
    }
}