* {
    font-family: montserrat, Sans-serif;
}

.mt-neg-10 {
    margin-top: -10%;
}
.mt-neg-15 {
    margin-top: -15%;
}
.mt-neg-20 {
    margin-top: -20%;
}
.mt-neg-30 {
    margin-top: -30%;
}

/* BLOCOS */

.background-default {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.background-default.banner1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/encantar/banner1.webp');
}

.background-default.banner2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../assets/encantar/banner2.webp');
}

.background-default.banner3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../../assets/encantar/banner3.webp');
}

.background-default.banner4 {
    background-color: black;
}

.background-default.banner5 {
    background-color: #000347;
    opacity: 1;
}

/* BOTOES */

.btn-encantar {
    border-radius: 2rem;
    background-color: var(--encantarCardIcon);
}

.btn-encantar-pop {
    text-shadow: 0 0 10px rgb(0 0 0 / 30%);
    background-color: transparent;
    background-image: linear-gradient(180deg,#00B6FF 0%,#00709D 100%);
    border-radius: 100px 100px 100px 100px;
}

.btn-encantar-pop:hover {
    color: white;
}

.btn-encantar.maior {
    height: 4.5rem;
}

.btn-encantar:hover {
    transition: 0.2s;
    transform: scale(1.1);
    background-color: #6EC1E4;
    color: white;
}

.btn-encantar-pop {
    animation: blinker 1s linear infinite;
}

.show-element {
    display: none;
}

/* IFRAME */

lite-youtube{
    border: 2px solid var(--encantar);
    border-radius: 0.1rem;
    box-shadow: 0.1rem 0.05rem 0.4rem var(--encantar);
}

.neon-behavior-blue-medium {
    border: 2px solid var(--encantarCardIcon);
    box-shadow: 0.1rem 0.05rem 0.4rem var(--encantarCardIcon);
}

/* CARDS GERAIS */

.card.mostra-precos {
    border-radius: 1.2rem;
}

.card.mostra-precos-v2 {
    border-radius: 0.3rem;
}


/* CARD ICON */

.img-card {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-card.size-1 {
    height: 6rem;
    width: 6rem;
}

.img-card.size-2 {
    top: -8%;
    height: 7.5rem;
    width: 7.5rem;
}

/* IMAGES */

.card-img-top.overflow {
    position: absolute;
    height: 41rem;
    width: 37rem;
    margin-top: 10%;
    left: 25%;
    transform: translate(-50%, -50%);
}


/* RESPONSIVIDADE */

@media (max-width: 1102px){
    .card-img-top.overflow {
        margin-top: 18%;
        left:28%;
    }
    .btn-encantar.f-size-1-5 {
        font-size: 1.2rem;
    }
}

@media (max-width: 910px) {
    .btn-encantar.f-size-1-5 {
        font-size: 1rem;
    }    
}

@media (max-width: 768px){
    .f-size-1-6 {
        font-size: 1.2rem;
    }
    .f-size-1 {
        font-size: 0.9rem;
    }
    .f-size-2 {
        font-size: 1.5rem;
    }
    .f-size-2-2 {
        font-size: 1.2rem;
    }
    .f-size-2-3 {
        font-size: 1.4rem;
    }
    .f-size-2-5 {
        font-size: 1.55rem;
    }
    .f-size-4 {
        font-size: 1rem;
    }
    .f-size-6 {
        font-size: 2.4rem;
    }
    .background-default.banner3 {
        background-image: none;
        background-color: black;
    }
    .hide-element {
        display: none;
    }
    .show-element {
        display: block;
    }
    .card-img-top.overflow {
        position: absolute;
        height: 20rem;
        width: 18rem;
        margin-top: 11%;
        margin-left: 30%;
    }
    .text-over-mobile{
        margin-top: 15rem;
        font-size: 0.5rem;
    }
    .text-hidden-mobile{
        visibility: hidden;
    }

    .btn-encantar-pop {
    width: 18rem;
    }

    .btn-encantar.maior {
        height: 5.5rem;
    }
    
}

@media (max-width: 460px) {
    .btn-encantar.f-size-1-5 {
        font-size: 1.1rem;
    }    
}