* {
    font-family: montserrat, Sans-serif;
}

.mt-neg-6 {
    margin-top: -6%;
}

.mt-neg-15 {
    margin-top: -15%;
}

.mt-neg-20 {
    margin-top: -20%;
}

/* BLOCOS */
body{
background-color: black;
}
.background-default {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.background-default.primeira-sessao{
    background-image: url("../../assets/despertar/background-primeira-sessao.webp");
}

.background-default.antes-footer{
    background-color: #111111;
}


.mask{
    background-color: rgba(0,0,0,0.8);
}

.background-default.livro{
    background-image: url("../../assets/despertar/background-livro.webp");
}

.background-default.footer{
    background-image: url("../../assets/despertar/background-footer.webp");
}

.background-default.black{
    background-color: black;
}

.background-default.yellow{
    background-color: #FFE200;
    opacity: 1;
}

span{
    color: #E7EE00;
    /* font-weight: 800; */
}

span.antes-footer-text {
    color: #ffef00;
}

.yellow-despertar {
    color: #E7EE00;
}

.card.mostra-precos {
    border-radius: 1.2rem;
}

.show-element {
    display: none;
}

/* IMG */
.card-img-top.over {
    position: absolute;
    height: 37rem;
    width: 34rem;
    margin-top: 10%;
    left: 25%;
    transform: translate(-50%, -50%);
}

/* IFRAME */

lite-youtube{
    border:2px solid #E7EE00;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.05rem 0.4rem #E7EE00;
}

/* BOTÃO */

.btn-aprender{
    border-radius: 2rem;
    background-color: #E7EE00;
    color: black;
    border: none;
}

.btn-aprender.red{
    border: none;    
    color: #fff;
    background-color: transparent;
    background-image: linear-gradient(180deg,#FF0000 0%,#7A0000 100%);
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0 0 10px 0 #fff;
}

.btn-aprender-v2 {
    text-shadow: 0 0 10px rgb(0 0 0 / 30%);
    background-color: transparent;
    background-image: linear-gradient(180deg,#FFE200 0%,#F0A300 100%);
    border-radius: 100px 100px 100px 100px;
}

.btn-aprender-v2:hover {
    transition: 0.2s;
    transform: scale(1.1);
    color: white;
}

.btn-aprender.red:hover{
    color: white;
    border: none;
}

.btn-aprender:hover{
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
    color: black;
    background-color: #E7EE00;
    border: none;
}

.btn-aprender.maior{
    height: 4rem;
}

/* RESPONSIVIDADE */

@media (min-width: 1567px){
    .card-img-top.over {
        height: 37rem;
        width: 34rem;
        margin-top: 7%;
        left: 25%;
    }
}

@media (max-width: 1102px){
    .card-img-top.over {
        height: 31rem;
        width: 29rem;
        margin-top: 18%;
    }
}

@media (max-width: 768px){
    .f-size-1 {
        font-size: 0.8rem;
    }
    .f-size-2 {
        font-size: 1rem;
    }
    .f-size-2-5 {
        font-size: 1.5rem;
    }
    .f-size-2-7 {
        font-size: 1.8rem;
    }
    .f-size-1-2 {
        font-size: 0.8rem;
    }
    .btn-aprender.f-size-1-3 {
        font-size: 1.1rem;
    }
    .hide-element {
        display: none;
    }
    lite-youtube {
        margin-top: -10%;
    }
    .show-element {
        display: block;
    }
    .card-img-top.over {
        position: absolute;
        height: 20rem;
        width: 18rem;
        margin-top: 16%;
        margin-left: 30%;
    }
    .book-img-despertar{
        width: 70%;
        height: 100%;
        margin-left: 4rem;
    }
    .surpresinha-mobile{
        padding-top: 35%;
    }
}

/* @media (min-width: 1447px) {
    #divClassButtonInitial {
        width: 33.33333333%;
    }
    #resize-bs-col-md-5 {
        width: 33.33333333%;
    }
    #resize-bs-col-md-1 {
        width: 16.66666667%;
    }
} */