* {
    font-family: montserrat, Sans-serif;
}

.mt-neg-10 {
    margin-top: -10%;
}

.mt-neg-15 {
    margin-top: -15%;
}

/* BLOCOS */

.background-default {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.background-default.banner1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.294), rgba(0, 0, 0, 0.294)), url('../../assets/libertar/banner1.webp');
}

.background-default.banner2 {
    background-image: url('../../assets/libertar/banner2.webp');
}

.background-default.banner3 {
    background-color: black;
}

.background-default.banner4 {
    background-image: url('../../assets/libertar/banner3.webp');
}

/* SPANS STYLES */

span.libertar {
    color: #b55804;
    text-shadow: none !important;
}

span.libertar2 {
    color: #f17505;
    text-shadow: none !important;
}

span.libertar-background {
    background-color: #f17505;
}

/* BOTÃO */

.btn-aprender{
    border-radius: 2.5rem;
    /* background-color: #b55804; */
}

.btn-aprender#inicial{
    border-radius: 0.5rem;
    background-color: var(--libertarBtnInicial);
}

.btn-aprender#meio{
    border-radius: 2.5rem;
    background-color: var(--libertar);
}

.btn-aprender#final{
    border-radius: 2.5rem;
    background-color: var(--libertarBtnFinal);
}

.btn-aprender:hover{
    transition: 0.2s;
    transform: scale(1.06);
    color: white;
    cursor: pointer;
}

.btn-aprender-oferta{
    height: 4.7rem;
    border-radius: 2.5rem;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 0.9rem white;
}

.btn-aprender-oferta:hover{
    transition: 0.2s;
    transform: scale(1.06);
    color: black;
    cursor: pointer;
}

.btn-aprender.maior{
    height: 4.7rem;
}

.btn-aprender.maior.blink{
    animation: blinker 1.4s linear infinite;
}

.btn-aprender-oferta.blink{
    animation: blinker 1.4s linear infinite;
}

.show-element {
    display: none;
}

/* CARDS */
.card-body.oferta {
    border:2px solid #ff6400;
    border-radius: 0.3rem;
    background-color: #ff6400;
}

.card.oferta {
    background-color: #ff6400;
    border:2px solid #ff6400;
    border-radius: 0.3rem;
    box-shadow: 0.1rem 0.1rem 0.9rem #ff6400;
}

/* IFRAME */

lite-youtube{
    border:2px solid #b55804;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.05rem 0.4rem #b55804;
}

/* RESPONSIVIDADE TEXTO BOTAO */

/* @media (max-width: 1450px) {
    .btn-aprender.f-size-1-2{
        font-size: 1.3rem;
    }
} */

@media (max-width: 1705px) {
    .btn-aprender.f-size-1-5#inicial{
        font-size: 1.2rem;
    }
}

@media (max-width: 1396px) {
    .btn-aprender.f-size-1-5#inicial{
        font-size: 1.1rem;
    }
}

@media (max-width: 1302px) {
    .btn-aprender.f-size-1-5#inicial{
        font-size: 1rem;
    }
}

@media (max-width: 1277px) {
    .btn-aprender.f-size-1-5#inicial{
        font-size: 0.9rem;
    }
    .btn-aprender.f-size-1-5{
        font-size: 1.2rem;
    }
    .btn-aprender-oferta.f-size-1-5{
        font-size: 1.2rem;
    }
}

@media (max-width: 930px) {
    .btn-aprender.f-size-1-5{
        font-size: 1.2rem;
    }
    .btn-aprender-oferta.f-size-1-5{
        font-size: 1.2rem;
    }
}

@media (max-width: 765px) {
    .background-default.banner4 {
        background-image: none;
        background-color: black;
    }
    .hide-element {
        display: none;
    }
    .show-element {
        display: block;
    }
    .btn-aprender.f-size-1-5#inicial{
        font-size: 1.5rem;
    }
    .btn-aprender.f-size-1-5{
        font-size: 1.5rem;
    }
    .btn-aprender-oferta.f-size-1-5{
        font-size: 1.2rem;
    }
    .mobile-order{
        display: flex;
        flex-flow: column-reverse;
    }
}

@media (max-width: 474px) {
    .btn-aprender.f-size-1-5#inicial{
        font-size: 1rem;
    }
}

@media (max-width: 356px) {
    .btn-aprender.f-size-1-5#inicial{
        font-size: 0.8rem;
    }
    .btn-aprender.f-size-1-5{
        font-size: 1.1rem;
    }
    .btn-aprender-oferta.f-size-1-5{
        font-size: 1.2rem;
    }
}

@media (max-width: 765px) {
    .book-libertar{
        height: 97%;
        width: 86%;
    }
    .f-size-1-2 {
        font-size: 1rem;
    }
    .f-size-1-3 {
        font-size: 0.9rem;
    }
    .f-size-2 {
        font-size: 1.2rem;
    }
    .f-size-2.about-p {
        font-size: 1.7rem;
    }
    .f-size-2-2 {
        font-size: 1.5rem;
    }
    .f-size-2-5 {
        font-size: 1.9rem;
    }
    .f-size-2-7 {
        font-size: 2rem;
    }
}
/*
@media (max-width: 510px) {
    .btn-aprender.f-size-1-2{
        font-size: 0.8rem;
    }
    .btn-aprender.f-size-1-4{
        font-size: 1rem;
    }
    .btn-aprender.f-size-1-5{
        font-size: 0.9rem;
    }
    .btn-aprender.f-size-1-6{
        font-size: 1.1rem;
    }
} */